body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  width: 83%;
  display: block;
  margin: 0 auto;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}
h2 {
  font-size: 24px;
}
h3 {
  font-weight: 600;
  line-height: 36px;
  margin: 10px 0;
}
h7 {
  margin-left: 25%;
  font-size: 12px;
  padding-bottom: 20px;
}
ul {
  padding: 0;
  margin: 20px, 10px;
  border-radius: 10px;
}
ul :hover {
  background: rgba(82, 149, 182, 0.3);
  transition: all 250ms ease-in-out;
}
li {
  font-size: 14px;
}
img {
  font-size: 14px;
  max-height: 60px;
}
p {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 10px;
}
.container {
  max-width: 700px;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 35px 0;
  border: 1px solid #5295b6;
  border-radius: 10px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.btn-dark {
  margin-left: 15px;
}
.card {
  border-radius: 10px;
  padding: 12px 12px;
  background: rgba(82, 149, 182, 0.3);
}
.card-title {
  margin: 0;
}
.temperature {
  font-size: 32px;
}
.temperatureDisplay .active {
  color: #212529;
  font-weight: 700;
  cursor: default;
}
.list-group-item {
  padding: 10px 12px;
  border-radius: 10px;
}
.units {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: -12px;
}
#live-day-time {
  font-size: 18px;
  opacity: 0.6;
  margin: 0;
}
#celcius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
