body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  width: 83%;
  display: block;
  margin: 0 auto;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}
h2 {
  font-size: 24px;
}
h3 {
  font-weight: 600;
  line-height: 36px;
  margin: 10px 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 10px, 10px;
  border-radius: 10px;
}
li {
  font-size: 14px;
}
img {
  font-size: 14px;
  max-height: 60px;
}
p {
  font-size: 14px;
  font-weight: 400;
  margin: 5px 10px;
}
.container {
  max-width: 700px;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 35px 0 15px;
  border: 1px solid #5295b6;
  border-radius: 10px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.btn-dark {
  margin-left: 15px;
}
.card {
  border-radius: 10px;
  padding: 10px 12px 15px;
  background: rgba(33, 37, 41, 0.05);
}
.card-title {
  margin: 0;
}
.country {
  font-size: 20px;
  opacity: 0.6;
}
.forecast-icon {
  height: 40px;
}
.forecast-max-temp {
  font-weight: 700;
}
.forecast-min-temp {
  font-weight: 700;
  opacity: 0.7;
}
.forecast-temperature {
  position: absolute;
  right: 25px;
  top: 10px;
}
.github-link {
  display: block;
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
}
.list-group-item {
  padding: 0px 10px;
  border-radius: 10px;
  background: rgba(33, 37, 41, 0.05);
}
.live-day-time {
  font-size: 18px;
  opacity: 0.6;
  margin: 0;
}
.temperature {
  font-size: 32px;
}
.temperature-display .active {
  color: #212529;
  font-weight: 700;
  cursor: default;
}
.units {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: -12px;
}
